<template name="classList">
    <div class="container-fluid row justify-content-center margin-0 padding-0">
        <div class="row classList-submenu justify-content-center">
            <div class="row classList-container align-items-center">
                <span class="classList-container-disabled">학습페이지</span>
                <span> - </span>
                <span>강좌 리스트</span>
            </div>
        </div>
        <div class="classList-container">
            <p>전체</p>
        </div>
        <div class="classList-panel row m-0 justify-content-center">
            <div class="w-100 h-100 row m-0 justify-content-center">
                <div class="classList-search row m-0 align-items-center">
                    <input type="text" name="" value="">
                    <button type="button" name="button">검색</button>
                </div>
                <div class="classList-item">
                    <div class="classList-item-img float-left">
                        <img src="/images/learningPage/classList/tf.png" alt="" class="w-100 h-100 m-0 p-0">
                    </div>
                    <div class="classList-item-text float-right">
                        <div class="classList-item-title">
                            <p>TensorFlow 튜토리얼 강좌</p>
                        </div>
                        <div class="classList-item-desc">
                            <p>텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ</p>
                        </div>
                        <div class="classList-item-ref align-items-end d-flex">
                            <p class="align-bottom">한국기술교육대학교 능력개발교육원</p>
                            <button type="button" name="button">학습진행</button>
                        </div>
                        <script type="text/javascript">
                            $("button").on("click", function(){
                                location.href = "/learning";
                            });
                        </script>
                    </div>
                </div>
                <div class="classList-item">
                    <div class="classList-item-img float-left">
                        <img src="/images/learningPage/classList/tf.png" alt="" class="w-100 h-100 m-0 p-0">
                    </div>
                    <div class="classList-item-text float-right">
                        <div class="classList-item-title">
                            <p>TensorFlow 튜토리얼 강좌</p>
                        </div>
                        <div class="classList-item-desc">
                            <p>텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ</p>
                        </div>
                        <div class="classList-item-ref align-items-end d-flex">
                            <p class="align-bottom">한국기술교육대학교 능력개발교육원</p>
                            <button type="button" name="button">학습진행</button>
                        </div>
                    </div>
                </div>
                <div class="classList-item">
                    <div class="classList-item-img float-left">
                        <img src="/images/learningPage/classList/tf.png" alt="" class="w-100 h-100 m-0 p-0">
                    </div>
                    <div class="classList-item-text float-right">
                        <div class="classList-item-title">
                            <p>TensorFlow 튜토리얼 강좌</p>
                        </div>
                        <div class="classList-item-desc">
                            <p>텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ</p>
                        </div>
                        <div class="classList-item-ref align-items-end d-flex">
                            <p class="align-bottom">한국기술교육대학교 능력개발교육원</p>
                            <button type="button" name="button">학습진행</button>
                        </div>
                    </div>
                </div>
                <div class="classList-item">
                    <div class="classList-item-img float-left">
                        <img src="/images/learningPage/classList/tf.png" alt="" class="w-100 h-100 m-0 p-0">
                    </div>
                    <div class="classList-item-text float-right">
                        <div class="classList-item-title">
                            <p>TensorFlow 튜토리얼 강좌</p>
                        </div>
                        <div class="classList-item-desc">
                            <p>텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ텐서플로우에 대한 전반적인 개요와 ㅁㄴ</p>
                        </div>
                        <div class="classList-item-ref align-items-end d-flex">
                            <p class="align-bottom">한국기술교육대학교 능력개발교육원</p>
                            <button type="button" name="button">학습진행</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
