.classList-submenu{
    width: 100%;
    height: 100px;
    background-color: #325682;
    color: #FFFFFF;
    border-top: 2px solid #b8b8b8;
    border-bottom: 2px solid #b8b8b8;
}

.classList-container > span{
    color: #FFFFFF;
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf") format("truetype");
    font-size: 24px;
    margin : 0 8px 0 8px;
    text-decoration: none;
}

.classList-container-disabled{
    color: #9fb3cb !important;
}


.classList-container{
    width: 1520px;
    height: auto;
}

.classList-container > p{
    margin-bottom: 28px;
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf") format("truetype");
    font-size: 24px;
    color: #525252;
    text-decoration: none;
    margin: 70px 0 28px 34px;
}

.classList-panel{
    width: 1520px;
    height: auto;
    background-color: white;
    border: 2px solid #eee;
    margin-bottom: 200px;
}

.classList-search{
    width: 850px;
    height: 150px;
}

.classList-search > input{
    width: 700px;
    height: 50px;
    border: 2px solid #a3a3a3;
}

.classList-search > button{
    width: 140px;
    height: 50px;
    margin-left: 10px;
    border: none;
    padding: 0;
    background-color: #a3a3a3;
    font-family: "NanumSquareR";
    src: url("/resources/fonts/NanumSquareR.ttf") format("truetype");
    font-size: 22px;
    color: #FFFFFF;
}

.classList-item{
    width: 1442px;
    height: 314px;
    padding: 30px 30px 30px 20px;
    margin: 0 0 24px 0;
    border: 2px solid #d9d9d9;
}

.classList-item-img{
    width: 362px;
    height: 250px;
}

.classList-item-text{
    width: 1010px;
    height: 250px;
    margin: 0 0 0 10px;
}

.classList-item-title > p{
    line-height: 1;
    font-family: "GyeonggiTitleVOTF_Bold";
    src: url("/resources/fonts/GyeonggiTitleVOTF_Bold.ttf") format("truetype");
    font-size: 28px;
    color: #4A4A4A;
    margin: 30px 0 16px 0;
    width: 850px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.classList-item-desc > p{
    font-family: "NanumSquareR";
    src: url("/resources/fonts/NanumSquareR.ttf") format("truetype");
    font-size: 18px;
    color: #4A4A4A;
    margin: 0;
    width: 850px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3 ;
}

.classList-item-ref{
    height: 70px;
    margin: 20px 0 0 0;
}

.classList-item-ref > p{
    font-family: "NanumSquareR";
    src: url("/resources/fonts/NanumSquareR.ttf") format("truetype");
    font-size: 18px;
    color: #4A4A4A;
    margin: 0;
    display: inline-block;
    width: 810px;
}

.classList-item-ref > button{
    height: 70px;
    width: 200px;
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf");
    font-size: 24px;
    background-color: #ebebeb;
    border: 2px solid #d9d9d9;
    border-radius: none;
    padding: 0;
    float:right;
}

.classList-item-ref > button:hover{
  background-color: #bfd7e8;
  border: 2px solid #b2cbdc;
}

.classList-item-ref > button:active{
  background-color: #619bc4;
  border: 2px solid #5a90be;
  color: #ffffff;
}
