.mofidyPW-submenu{
    width: 100%;
    height: 100px;
    background-color: #325682;
    color: #FFFFFF;
    border-top: 2px solid #b8b8b8;
    border-bottom: 2px solid #b8b8b8;
    margin-bottom: 70px;
}

.mofidyPW-container > a{
    color: #FFFFFF;
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf") format("truetype");
    font-size: 24px;
    margin-right: 42px;
    text-decoration: none;
}

.mofidyPW-container > a:hover{
    color:#FA8C32;
}

.mofidyPW-container{
    width: 1520px;
    height: auto;
}

.mofidyPW-container > p{
    margin-bottom: 28px;
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf") format("truetype");
    font-size: 24px;
    color: #525252;
    text-decoration: none;
}

.mofidyPW-panel{
    width: 1520px;
    height: 850px;
    background-color: white;
    border: 2px solid #eee;
    margin-bottom: 200px;
}

.mofidyPW-img-container{
    width: 800px;
    height: auto;
}

.mofidyPW-img-container > div{
    margin-left: 50px;
    width: 400px;
}

.mofidyPW-header-text-title{
    width: 400px;
    display: inline-block;
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf") format("truetype");
    font-size: 24px;
    color: #525252;
}

.mofidyPW-header-text-desc{
    width: 400px;
    display: inline-block;
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf") format("truetype");
    font-size: 16px;
    color: #525252;
}

.mofidyPW-img{
    display: inline;
    width: 300px;
    height: 250px;
}

.mofidyPW-desc-text{
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf") format("truetype");
    font-size: 24px;
    color: #525252;
}

.mofidyPW-pwd-text{
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf") format("truetype");
    font-size: 24px;
    color: #222222;
    margin : 0 70px 0 -40px;
    width: 192px;
    text-align: right;
}

.mofidyPW-pwd-sub-text{
    font-family: "NanumSquareB";
    src: url("/resources/fonts/NanumSquareB.ttf") format("truetype");
    font-size: 18px;
    color: #adadad;
    margin : 0 70px 0 222px;
    width: auto;
    text-align: right;
}

.mofidyPW-form{
    width: 1300px;
    height: auto;
    padding: 130px 0 44px 0;
    border-bottom: 2px solid #eee;
}

.mofidyPW-pwd{
    width: 408px;
    height: 50px;
    border: 2px solid #eee;
    margin-right: 10px;
}

.mofidyPW-btn-container{
    width: 800px;
}

.mofidyPW-btn-1{
    background-color: #fa8c32;
    width: 190px;
    height: 64px;
    margin : 76px 30px  136px 0;
    color: #FEFEFE;
    border: none;
    font-family: "NanumSquareR";
    src: url("/resources/fonts/NanumSquareR.ttf") format("truetype");
    font-size: 24px;
}

.mofidyPW-btn-1:hover{
    background-color: #fa9a4b;
}

.mofidyPW-btn-1:active{
    background-color: #cc6510;
}

.mofidyPW-btn-2{
    background-color: #acacac;
    width: 190px;
    height: 64px;
    color: #FEFEFE;
    margin : 76px 0 136px 0;
    border: none;
    font-family: "NanumSquareR";
    src: url("/resources/fonts/NanumSquareR.ttf") format("truetype");
    font-size: 24px;
}

.mofidyPW-btn-2:hover{
    background-color: #c3c3c3;
}

.mofidyPW-btn-2:active{
    background-color: #a4a4a4;
}

.mofidyPW-footer{
  width: 100%;
  height: 100px;
  background-color: white;
  border-top: 2px solid #eee;
  margin-top: 200px;
}

.modifyPW-row{
    width: 1360px;
}

.modifyPW-sub-row{
    width: 1360px;
    margin: 28px 0 30px 0;
}
