<template name="findPW">
    <div class="container-fluid row justify-content-center margin-0 padding-0">
        <div class="row findPW-submenu justify-content-center">
            <div class="row findPW-container align-items-center">
                <a href="findID">아이디 찾기</a>
                <a href="findPW">비밀번호 찾기</a>
            </div>
        </div>
        <div class="findPW-container">
            <p>비밀번호 찾기</p>
        </div>
        <div class="findPW-panel row m-0 justify-content-center">
            <div class="row justify-content-center padding-0 findPW-img-container align-items-center">
                <img src="/images/myPage/modifyMyInfo/login2.png" alt="" class="findPW-img float-left">
                <div class="float-right">
                    <p class="findPW-header-text-title">아이디/이메일로 확인</p>
                    <p class="findPW-header-text-desc">아이디, 이메일 입력을 통해 아이디를 찾으실 수 있습니다.</p>
                </div>
            </div>
            <div class="row findPW-form">
                <div class="row m-0 w-100 align-items-center justify-content-center">
                    <div class="findPW-row">
                        <p class="findPW-pwd-text">아이디</p>
                        <input type="text" name="" value="" class="findPW-pwd">
                    </div>
                </div>
                <div class="row m-0 w-100 align-items-center justify-content-center">
                    <div class="findPW-row">
                        <p class="findPW-pwd-text">이름</p>
                        <input type="text" name="" value="" class="findPW-pwd">
                    </div>
                </div>
                <div class="row m-0 w-100 align-items-center justify-content-center">
                    <div class="findPW-row">
                        <p class="findPW-pwd-text">생년월일</p>
                        <input type="text" name="" value="" class="findPW-year">
                        <p class="findPW-date-text">년</p>
                        <input type="text" name="" value="" class="findPW-month">
                        <p class="findPW-date-text">월</p>
                        <input type="text" name="" value="" class="findPW-day">
                        <p class="findPW-date-text mr-0">일</p>
                    </div>
                </div>
                <div class="row m-0 w-100 align-items-center justify-content-center">
                    <div class="findPW-row">
                        <p class="findPW-pwd-text">이메일</p>
                        <input type="text" name="" value="" class="findPW-email-1">
                        <p class="findPW-date-text">@</p>
                        <select name="" class="findPW-email-2">
                            <option value="naver.com">naver.com</option>
                            <option value="google.com">google.com</option>
                            <option value="hanmail.net">hanmail.net</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-0 justify-content-center findPW-btn-container align-items-center">
                <button type="button" name="button" class="findPW-btn">비밀번호 찾기</button>
            </div>
        </div>
    </div>
</template>
