<template name="findID">
    <div class="container-fluid row justify-content-center margin-0 padding-0">
        <div class="row findID-submenu justify-content-center">
            <div class="row findID-container align-items-center">
                <a href="findID">아이디 찾기</a>
                <a href="findPW">비밀번호 찾기</a>
            </div>
        </div>
        <div class="findID-container">
            <p>아이디 찾기</p>
        </div>
        <div class="findID-panel row m-0 justify-content-center">
            <div class="row justify-content-center padding-0 findID-img-container align-items-center">
                <img src="/images/myPage/modifyMyInfo/login2.png" alt="" class="findID-img float-left">
                <div class="float-right">
                    <p class="findID-header-text-title">아이디/이메일로 확인</p>
                    <p class="findID-header-text-desc">아이디, 이메일 입력을 통해 아이디를 찾으실 수 있습니다.</p>
                </div>
            </div>
            <div class="row findID-form">
                <div class="row m-0 w-100 align-items-center justify-content-center">
                    <div class="findID-row">
                        <p class="findID-pwd-text">이름</p>
                        <input type="text" name="" value="" class="findID-pwd">
                    </div>
                </div>
                <div class="row m-0 w-100 align-items-center justify-content-center">
                    <div class="findID-row">
                        <p class="findID-pwd-text">생년월일</p>
                        <input type="text" name="" value="" class="findID-year">
                        <p class="findID-date-text">년</p>
                        <input type="text" name="" value="" class="findID-month">
                        <p class="findID-date-text">월</p>
                        <input type="text" name="" value="" class="findID-day">
                        <p class="findID-date-text mr-0">일</p>
                    </div>
                </div>
                <div class="row m-0 w-100 align-items-center justify-content-center">
                    <div class="findID-row">
                        <p class="findID-pwd-text">핸드폰번호</p>
                        <select class="findID-hp-1" name="">
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="019">019</option>
                        </select>
                        <p class="findID-date-text">-</p>
                        <input type="text" name="" value="" class="findID-hp-2">
                        <p class="findID-date-text">-</p>
                        <input type="text" name="" value="" class="findID-hp-2">
                    </div>
                </div>
            </div>
            <div class="row m-0 justify-content-center findID-btn-container align-items-center">
                <button type="button" name="button" class="findID-btn">아이디 찾기</button>
            </div>
        </div>
        <div class="findID-modal row m-0 justify-content-center align-items-center fixed-top">
            <div class="findID-modal-content">
                <div class="findID-modal-header row m-0 align-items-center">
                    <p class="findID-modal-title">확인</p>
                    <button type="button" name="button" class="findID-modal-close">X</button>
                </div>
                <div class="findID-modal-body row m-0 align-items-center justify-content-center">
                    <p class="findID-modal-desc">아이디를 입력해 주십시오.</p>
                </div>
                <div class="findID-modal-footer row m-0 justify-content-center">
                    <button type="button" name="button"  class="findID-modal-submit">확인</button>
                </div>
            </div>
        </div>
    </div>
</template>
