<template name="login">
    <div class="container-fluid row justify-content-center margin-0 padding-0">
        <div class="login-container row margin-0">
            <div class="login-title">
                <p>로그인</p>
            </div>
            <div class="login-panel row margin-0 justify-content-center">
                <div class="row margin-0 justify-content-center align-items-center login-header">
                    <img src="images/account/login/login1.png" alt="" class="login-img">
                    <p class="login-desc">한국기술교육대학교 텐서플로우 강의실에 오신 것을 환영합니다. 다양한 서비스를 이용하시려면 로그인을 해주세요.</p>
                </div>
                <div class="row margin-0 justify-content-center  align-items-center login-body">
                    <form class="" action="" method="post">
                        <div class="login-body-content row margin-0 align-items-center">
                            <div class="login-input-container">
                                <div class="">
                                    <p class="m-0">아이디</p><input type="text" name="loginEmail" value="" class="">
                                </div>
                                <div class="">
                                    <p class="m-0">비밀번호</p><input type="text" name="loginPassword" value="" class="">
                                </div>
                            </div>
                            <button type="submit" name="button" class="login-btn">로그인</button>
                        </div>
                    </form>
                </div>
                <div class="row margin-0 justify-content-center">
                    <div class="login-footer-container align-items-center">
                        <div class="">
                            <p class="m-0">홈페이지를 처음 방문하셨나요?</p><button type="button" name="button" class="toRegister">회원가입 하기</button>
                        </div>
                        <div class="">
                            <p class="m-0">아이디 / 비밀번호가 기억나지 않으세요?</p><button type="button" name="button" class="toFindIdPw">아이디/비밀번호 찾기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
