<template name="learningStatus">
    <div class="container-fluid row justify-content-center margin-0 padding-0">
        <div class="row learningStatus-submenu justify-content-center">
            <div class="row learningStatus-container align-items-center">
                <a href="learningStatus">나의 강의실</a>
                <a href="modifyMyInfo">개인정보수정</a>
                <a href="modifyPW">비밀번호 변경</a>
            </div>
        </div>
        <div class="learningStatus-container">
            <p>학습 중인 과정</p>
        </div>
        <div class="learningStatus-panel p-0">
            <div class="empty-list row m-0 justify-content-center align-items-center">
                <img src="images/myPage/learningStatus/img_표시할항목.png" alt="">
            </div>
            <table class="w-100 h-100">
                <tr>
                    <td class="learningStatus-td-1"><p>번호</p></td>
                    <td class="learningStatus-td-2"><p>과정명</p></td>
                    <td class="learningStatus-td-3"><p>학습기간</p></td>
                    <td class="learningStatus-td-4"><p>남은학습일</p></td>
                    <td class="learningStatus-td-5"><p>진도율</p></td>
                    <td class="learningStatus-td-6"><p>수강취소</p></td>
                    <td class="learningStatus-td-7"><p>학습하기</p></td>
                    <td class="learningStatus-td-8"><p>출력</p></td>
                </tr>
            </table>
        </div>

        <div class="learningStatus-container">
            <p>학습 완료된 과정(복습가능)</p>
        </div>
        <div class="learningStatus-panel p-0">
            <table class="w-100 h-100">
                <tr>
                    <td class="learningStatus-td-1"><p>번호</p></td>
                    <td class="learningStatus-td-2"><p>과정명</p></td>
                    <td class="learningStatus-td-3"><p>학습기간</p></td>
                    <td class="learningStatus-td-4"><p>남은학습일</p></td>
                    <td class="learningStatus-td-5"><p>진도율</p></td>
                    <td class="learningStatus-td-6"><p>수강취소</p></td>
                    <td class="learningStatus-td-7"><p>학습하기</p></td>
                    <td class="learningStatus-td-8"><p>출력</p></td>
                </tr>
                <tr>
                    <td class="learningStatus-td-sub-1 sub-td"><p>001</p></td>
                    <td class="learningStatus-td-sub-2 sub-td"><p>텐서플로우 기초</p></td>
                    <td class="learningStatus-td-sub-3 sub-td"><p>17.03.04~17.04.04</p></td>
                    <td class="learningStatus-td-sub-4 sub-td"><p>30일</p></td>
                    <td class="learningStatus-td-sub-5 sub-td"><p>80%</p></td>
                    <td class="learningStatus-td-sub-6 sub-td"><p class="cancle-learning">수강취소</p></td>
                    <td class="learningStatus-td-sub-7 sub-td"><img src="images/myPage/learningStatus/btn_학습하기.png" alt="" class="do-learning-btn"></td>
                    <td class="learningStatus-td-sub-8 sub-td"><img src="images/myPage/learningStatus/btn_print.png" alt="" class="print-btn"></td>
                </tr>
                <tr>
                    <td class="learningStatus-td-sub-1 sub-td"><p>002</p></td>
                    <td class="learningStatus-td-sub-2 sub-td"><p>텐서플로우 기초</p></td>
                    <td class="learningStatus-td-sub-3 sub-td"><p>17.03.04~17.04.04</p></td>
                    <td class="learningStatus-td-sub-4 sub-td"><p>30일</p></td>
                    <td class="learningStatus-td-sub-5 sub-td"><p>80%</p></td>
                    <td class="learningStatus-td-sub-6 sub-td"><p class="cancle-learning">수강취소</p></td>
                    <td class="learningStatus-td-sub-7 sub-td"><img src="images/myPage/learningStatus/btn_학습하기.png" alt="" class="do-learning-btn"></td>
                    <td class="learningStatus-td-sub-8 sub-td"><img src="images/myPage/learningStatus/btn_print.png" alt="" class="print-btn"></td>
                </tr>
                <tr>
                    <td class="learningStatus-td-sub-1 sub-td"><p>003</p></td>
                    <td class="learningStatus-td-sub-2 sub-td"><p>텐서플로우 기초</p></td>
                    <td class="learningStatus-td-sub-3 sub-td"><p>17.03.04~17.04.04</p></td>
                    <td class="learningStatus-td-sub-4 sub-td"><p>30일</p></td>
                    <td class="learningStatus-td-sub-5 sub-td"><p>80%</p></td>
                    <td class="learningStatus-td-sub-6 sub-td"><p class="cancle-learning">수강취소</p></td>
                    <td class="learningStatus-td-sub-7 sub-td"><img src="images/myPage/learningStatus/btn_학습하기.png" alt="" class="do-learning-btn"></td>
                    <td class="learningStatus-td-sub-8 sub-td"><img src="images/myPage/learningStatus/btn_print.png" alt="" class="print-btn"></td>
                </tr>
                <tr>
                    <td class="learningStatus-td-sub-1 sub-td"><p>004</p></td>
                    <td class="learningStatus-td-sub-2 sub-td"><p>텐서플로우 기초</p></td>
                    <td class="learningStatus-td-sub-3 sub-td"><p>17.03.04~17.04.04</p></td>
                    <td class="learningStatus-td-sub-4 sub-td"><p>30일</p></td>
                    <td class="learningStatus-td-sub-5 sub-td"><p>80%</p></td>
                    <td class="learningStatus-td-sub-6 sub-td"><p class="cancle-learning">수강취소</p></td>
                    <td class="learningStatus-td-sub-7 sub-td"><img src="images/myPage/learningStatus/btn_학습하기.png" alt="" class="do-learning-btn"></td>
                    <td class="learningStatus-td-sub-8 sub-td"><img src="images/myPage/learningStatus/btn_print.png" alt="" class="print-btn"></td>
                </tr>
                <tr>
                    <td class="learningStatus-td-sub-1 sub-td"><p>005</p></td>
                    <td class="learningStatus-td-sub-2 sub-td"><p>텐서플로우 기초</p></td>
                    <td class="learningStatus-td-sub-3 sub-td"><p>17.03.04~17.04.04</p></td>
                    <td class="learningStatus-td-sub-4 sub-td"><p>30일</p></td>
                    <td class="learningStatus-td-sub-5 sub-td"><p>80%</p></td>
                    <td class="learningStatus-td-sub-6 sub-td"><p class="cancle-learning">수강취소</p></td>
                    <td class="learningStatus-td-sub-7 sub-td"><img src="images/myPage/learningStatus/btn_학습하기.png" alt="" class="do-learning-btn"></td>
                    <td class="learningStatus-td-sub-8 sub-td"><img src="images/myPage/learningStatus/btn_print.png" alt="" class="print-btn"></td>
                </tr>
            </table>
        </div>
    </div>
</template>
