<template name="modifyPW">
    <div class="container-fluid row justify-content-center margin-0 padding-0">
        <div class="row mofidyPW-submenu justify-content-center">
            <div class="row mofidyPW-container align-items-center">
                <a href="learningStatus">나의 강의실</a>
                <a href="modifyMyInfo">개인정보수정</a>
                <a href="modifyPW">비밀번호 변경</a>
            </div>
        </div>
        <div class="mofidyPW-container">
            <p>비밀번호변경</p>
        </div>
        <div class="mofidyPW-panel row m-0 justify-content-center">
            <div class="row justify-content-center mofidyPW-form">
                <div class="row m-0 align-items-center modifyPW-row">
                    <p class="mofidyPW-pwd-text">현재 비밀번호</p>
                    <input type="text" name="" value="" class="mofidyPW-pwd">
                </div>
                <div class="row align-items-center modifyPW-sub-row">
                    <p class="mofidyPW-pwd-sub-text">현재 비밀번호를 입력하세요.</p>
                </div>
                <div class="row m-0 align-items-center modifyPW-row">
                    <p class="mofidyPW-pwd-text">새 비밀번호</p>
                    <input type="text" name="" value="" class="mofidyPW-pwd">
                </div>
                <div class="row align-items-center modifyPW-sub-row">
                    <p class="mofidyPW-pwd-sub-text">비밀번호는 8-15자리로 영문 대소문자, 숫자, 특수기호를 사용하세요.</p>
                </div>
                <div class="row m-0 align-items-center modifyPW-row">
                    <p class="mofidyPW-pwd-text">새 비밀번호 확인</p>
                    <input type="text" name="" value="" class="mofidyPW-pwd">
                </div>
                <div class="row align-items-center modifyPW-sub-row">
                    <p class="mofidyPW-pwd-sub-text">변경할 비밀번호를 다시 입력하십시오.</p>
                </div>
            </div>
            <div class="row m-0 justify-content-center mofidyPW-btn-container">
                <button type="button" name="button" class="mofidyPW-btn-1">확인</button>
                <button type="button" name="button" class="mofidyPW-btn-2">취소</button>
            </div>
        </div>
    </div>
</template>
