<template name='modifyMyInfo'>
    <div class="container-fluid row justify-content-center margin-0 padding-0">
        <div class="row modifyMyInfo-submenu justify-content-center">
            <div class="row modifyMyInfo-container align-items-center">
                <a href="learningStatus">나의 강의실</a>
                <a href="modifyMyInfo">개인정보수정</a>
                <a href="modifyPW">비밀번호 변경</a>
            </div>
        </div>
        <div class="modifyMyInfo-container">
            <p>개인정보수정</p>
        </div>
        <div class="modifyMyInfo-panel">
            <div class="w-100 row justify-content-center margin-0 padding-0">
                <img src="/images/myPage/modifyMyInfo/login2.png" alt="" class="modifyMyInfo-img">
            </div>
                <p class="text-center modifyMyInfo-desc-text m-0">개인정보보호를 위해 회원님의 정보를 다시 한번 입력해 주세요.</p>
            <div class="w-100 row justify-content-center padding-0 modifyMyInfo-form">
                <span class="modifyMyInfo-pwd-text text-center">비밀번호</span>
                <input type="text" name="" value="" class="modifyMyInfo-pwd">
                <button type="button" name="button" class="modifyMyInfo-btn">확인</button>
            </div>
        </div>
    </div>
</template>
