<template name="mainContent">
    <div class="row justify-content-center index-img-container">
        <div class="index-img">
            <div class="index-img-navigation">
                <button type="button" name="button" class="index-img-navi-btn"></button>
                <button type="button" name="button" class="index-img-navi-btn"></button>
                <button type="button" name="button" class="index-img-navi-btn"></button>
            </div>
            <div class="index-img-content"><p>TensorFlow 강좌오픈</p>
                <button type="button" name="button" class="index-img-btn">START!</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center margin-0">
        <div class="index-container">
            <p class="index-course-title">강의실</p>
            <div class="row margin-0">
                <div class="index-classroom-left">
                    <div class="index-classroom-content">
                        <img src="images/index/ts1.png" class="index-classroom-img float-left">
                        <div class="index-classroom-text float-right">
                            <p class="index-classroom-title">TensorFlow 튜토리얼 강좌TensorFlow 튜토리얼 강좌</p>
                            <p class="index-classroom-desc">텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow
                                튜토리얼 강좌TensorFlow 튜토리얼 강좌</p>
                            <div class="">
                                <button type="button" name="button" class=" index-classroom-btn float-right index-btn">
                                    학습진행
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="index-classroom-right">
                    <div class="index-classroom-content"><img src="images/index/pt1.png"
                                                              class="index-classroom-img float-left">
                        <div class="index-classroom-text float-right"><p class="index-classroom-title">TensorFlow 튜토리얼
                            강좌TensorFlow 튜토리얼 강좌</p>
                            <p class="index-classroom-desc">텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow
                                튜토리얼 강좌TensorFlow 튜토리얼 강좌</p>
                            <div class="">
                                <button type="button" name="button" class=" index-classroom-btn float-right index-btn">
                                    학습진행
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center margin-0">
        <div class="code-test-container"><p class="index-course-title">코드 테스트</p>
            <div class="row margin-0">
                <div class="code-test-block row justify-content-center">
                    <div class="code-test-header"><img src="images/index/ts2.png" class="code-test-img float-left">
                        <p class="code-test-title float-right">TensorFlow</p></div>
                    <div class="code-test-desc"><p>텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow 튜토리얼
                        강좌TensorFlow 튜토리얼 강좌</p></div>
                    <button type="button" name="button" class=" code-test-btn index-btn">들어가기</button>
                </div>
                <div class="code-test-block row justify-content-center">
                    <div class="code-test-header"><img src="images/index/ts2.png" class="code-test-img float-left">
                        <p class="code-test-title float-right">TensorFlow</p></div>
                    <div class="code-test-desc"><p>텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow 튜토리얼
                        강좌TensorFlow 튜토리얼 강좌</p></div>
                    <button type="button" name="button" class=" code-test-btn index-btn">들어가기</button>
                </div>
                <div class="code-test-block row justify-content-center">
                    <div class="code-test-header"><img src="images/index/ts2.png" class="code-test-img float-left">
                        <p class="code-test-title float-right">TensorFlow</p></div>
                    <div class="code-test-desc"><p>텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow 튜토리얼
                        강좌TensorFlow 튜토리얼 강좌</p></div>
                    <button type="button" name="button" class=" code-test-btn index-btn">들어가기</button>
                </div>
                <div class="code-test-block row justify-content-center">
                    <div class="code-test-header"><img src="images/index/ts2.png" class="code-test-img float-left">
                        <p class="code-test-title float-right">TensorFlow</p></div>
                    <div class="code-test-desc"><p>텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow 튜토리얼
                        강좌TensorFlow 튜토리얼 강좌</p></div>
                    <button type="button" name="button" class=" code-test-btn index-btn">들어가기</button>
                </div>
                <div class="code-test-block row justify-content-center">
                    <div class="code-test-header"><img src="images/index/ts2.png" class="code-test-img float-left">
                        <p class="code-test-title float-right">TensorFlow</p></div>
                    <div class="code-test-desc"><p>텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow 튜토리얼
                        강좌TensorFlow 튜토리얼 강좌</p></div>
                    <button type="button" name="button" class=" code-test-btn index-btn">들어가기</button>
                </div>
                <div class="code-test-block row justify-content-center">
                    <div class="code-test-header"><img src="images/index/ts2.png" class="code-test-img float-left">
                        <p class="code-test-title float-right">TensorFlow</p></div>
                    <div class="code-test-desc"><p>텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow 튜토리얼
                        강좌TensorFlow 튜토리얼 강좌</p></div>
                    <button type="button" name="button" class=" code-test-btn index-btn">들어가기</button>
                </div>
                <div class="code-test-block row justify-content-center">
                    <div class="code-test-header"><img src="images/index/ts2.png" class="code-test-img float-left">
                        <p class="code-test-title float-right">TensorFlow</p></div>
                    <div class="code-test-desc"><p>텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow 튜토리얼
                        강좌TensorFlow 튜토리얼 강좌</p></div>
                    <button type="button" name="button" class=" code-test-btn index-btn">들어가기</button>
                </div>
                <div class="code-test-block row justify-content-center">
                    <div class="code-test-header"><img src="images/index/ts2.png" class="code-test-img float-left">
                        <p class="code-test-title float-right">TensorFlow</p></div>
                    <div class="code-test-desc"><p>텐서플로우에 대한 전반적인 개요와 .... 텐서플로우에 대한 전반적인 개요와 .... TensorFlow 튜토리얼
                        강좌TensorFlow 튜토리얼 강좌</p></div>
                    <button type="button" name="button" class=" code-test-btn index-btn">들어가기</button>
                </div>
            </div>
        </div>
    </div>
</template>
