<template name="mainFooter">
    <div class="login-footer-sm row justify-content-center align-items-center">
        <div class="login-footer-logo">
            <img src="images/account/login/logo.png" alt="" class="login-footer-logo-1">
            <img src="images/account/login/foot_logo011.gif" alt="" class="login-footer-logo-2">
            <img src="images/account/login/logo2.gif" alt="" class="login-footer-logo-3">
            <img src="images/account/login/HRDKorea_logo_2015_02.jpg" alt="" class="login-footer-logo-4">
        </div>
    </div>
    <div class="login-footer-lg row m-0 justify-content-center">
        <div class="">
            <div class="login-footer-lg-logo float-left">
                <img src="images/account/login/logo.png" alt="" class="">
            </div>
            <div class="login-footer-lg-desc float-left">
                <a href="#">찾아오시는길</a>
                <a href="#" class="login-footer-lg-desc-a2">이메일무단수집거부</a>
                <p class="login-footer-lg-desc-p1">(31253) 충청남도 천안시 동남구 충절로 1600 (가전리, 한국기술교육대학교) 산학협력관 204호 온라인평생교육원</p>
                <p class="m-0">TEL. 041) 580-4500 / FAX. 580-4506 / E-Mail : e-koreatech@koreatech.ac.kr</p>
                <p class="m-0">사업자등록번호 : 312-82-03357 / 통신판매업신고 : 제2016-충남천안-0210호 한국기술교육대학교 대표자 : 김기영</p>
                <p class="login-footer-lg-desc-p4">COPYRIGHT KOREA UNIVERSITY OF TECHNOLOGY AND EDUCATION. ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
</template>
